body {
    background-color: black;    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    
}
.container {
    margin-top: 50 px auto;
    width: 400px;    
}
div.numbers {
    width: 400px;    
}
.clear {
    height: 100px;
    min-width: 300px;
    font-size: 25px;
    flex: 3;
}
.clear-divide {
    display: flex;
    width: 400px;

}
#divide {
 flex: 1
}
.numbers, .operator, #equal {
    min-width: 100px;
    min-height: 100px;
    font-size: 25px;
    flex: 1;
    border-color: black;
    gap: 10px
}
.operator, #equal {
    background-color: orange;
}
.numbers-operators{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}
#zero {
    width: 200px;
    flex: 3;
}
.display, .operations {
    font-size: 80px;
    min-height: 95px;
    padding: 0;
    text-align: right;
    color: white;
    flex: 1;
}